<h1>Form Parameters</h1> 
 <p>The example will display submitted form parameters directly via the params hash</p> 
 <form action="/reversed_string" method="post" accept-charset="utf-8"> 
 	<input type="text" name="post[origin_string]" value="Type a string..." id="string" /><br /> 
 	<input type="submit" value=".. and display it!"> 
 </form>