<h1>Form Parameters Display</h1> 
 <p>You had entered:</p> 
 <p>Origin string - <%= params[:post][:origin_string] %></p>
 <p>Reversed String - <%= params[:post][:origin_string].reverse %></p> 
 <p>Click <a href="/">here</a> to type a new string.</p>